/* ing ==> ingredients */

.ing {
  background-color: #d33632;
}
.ing .bottom {
  position: relative;
  height: 100vh;
}
.ing .bottom .spoon {
  position: absolute;
  top: 20%;
  left: 35%;
  /* z-index: -1; */
}
