.shop-blend {
  background-color: #d33632;
}
.shop-blend .top {
  padding: 80px 0;
  color: #f7cec4;
  font-family: "roc-grotesk";
  height: 60vh;
}
.shop-blend .top h1 {
  font-weight: 500;
}

.shop-blend .top .left img {
  width: 160px;
}
.shop-blend .bottom {
  padding: 20px 0 100px 0;
}
.shop-blend .bottom .left {
  z-index: 1;
  justify-content: center;
}
.shop-blend .bottom .left div {
  background-color: #f7cec4;
  margin-left: 20%;
  font-family: "roc-grotesk";
  color: #d33632;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  padding: 60px;
  text-align: center;
  align-items: center;
}

.tea {
  width: 100%;
  height: 1100px;
  background-image: url("../../images/tea.png");
  background-size: 100% 100%;
}

@media (max-width: 480px) {
  /* top */
  .shop-blend .container .top,
  .shop-blend .container .bottom {
    flex-wrap: wrap;
    height: 100%;
    position: relative;
  }
  .shop-blend .container .top .right p {
    margin: 20px 0;
  }
  .shop-blend .top .left .scroll-img {
    position: absolute;
    bottom: 80px;
    width: 100px;
  }
  .shop-blend .top .right p:last-child {
    width: 60%;
    padding: 0 20px;
    margin-left: 110px;
  }
  /* bottom */
  .shop-blend .container .bottom {
    flex-direction: column-reverse;
  }
  .shop-blend .container .bottom img {
    height: 650px;
    width: auto;
    margin-left: -120px;
  }
  /* .shop-blend .container .bottom .left */
  .shop-blend .bottom .left div {
    height: 280px;
    width: 280px;
    margin-top: -150px;
    margin-left: -20px;
    padding: 60px;
  }
  .shop-blend .container .bottom .left h2 {
    font-size: 18px;
  }
  .shop-blend .tea {
    height: 510px;
  }
  .shop-blend .tea img {
    width: 200%;
  }
}
