.footer {
  position: relative;
  background-color: #f7ddd7;
  color: #d33631;
  font-family: "roc-grotesk";
  padding: 60px 60px 0 0;
}
.footer .logo {
  width: 270px;
}
.footer .top {
  border-bottom: 2px solid #fff;
}
.footer h3 {
  line-height: 1.2;
  font-weight: 500;
  font-size: 33px;
}
.footer .tl-right {
  padding: 0 40px 80px 0px;
  border-right: 2px solid #fff;
}
.footer .tr-top {
  padding: 0 40px 40px 30px;
  border-bottom: 2px solid #fff;
  height: 50%;
}
.footer .tr-top p {
  padding: 15px 0;
  line-height: 1.6;
}

.tr-bottom {
  padding: 70px 40px;
}
.tr-bottom input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #d33631;
  color: white;
  font-size: 20px;
  margin: 0 60px;
  opacity: 0.8;
}
::placeholder {
  color: #d33631;
}
/* footer bottom */

.footer .bottom .flex {
  padding: 60px;
  align-items: center;
}
.footer .bottom .flex h2 {
  margin: 0 60px;
  text-align: center;
}

@media (max-width: 480px) {
  .footer {
    overflow: auto;
    padding: 40px 0 0 0;
  }
  .footer .top {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  /* top right */
  .footer .tr-top {
    padding: 0;
  }
  .footer .tr-top .flex div {
    padding: 0 25px 30px 0;
  }
  .footer .tr-bottom {
    padding: 40px 0;
    flex-wrap: wrap;
    border-bottom: 2px solid #fff;
  }
  .footer .tr-bottom input {
    margin: 0 0;
    /* width: 120px; */
    font-size: 18px;
    padding: 10px 0;
    margin: 10px 0;
  }
  /* top left  */
  .footer .top .left {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer .tl-right {
    padding: 0;
    border: 0;
    text-align: center;
  }
  .footer .tl-left .logo {
    width: 180px;
  }
  /* marquee  */
  .footer marquee .bottom .flex {
    padding: 60px 10px;
  }
  .footer marquee .bottom .flex img {
    width: 50px;
  }
  .footer marquee .bottom .flex h2 {
    margin: auto 30px;
  }
}
